<template lang="">
    <div>
        Hello, Nuxt 3, Pinia 
        <h1>{{ $t('hello', { name: 'vue-i18n' }) }}</h1>
+    <form>
+      <label for="locale-select">{{ $t('language') }}: </label>
+      <select id="locale-select" v-model="$i18n.locale">
+        <option value="en">en</option>
+        <option value="fr">fr</option>
+        <option value="ja">ja</option>
+      </select>
+    </form>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="">
    
</style>